<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">

    <!-- add css on different html files -->
    {% block extra_css %}{% endblock %}
    <title>Memesite</title>
</head>

<header>
    <h1>THIS IS THE BASE.</h1>

    <a href="/signup">SIGNUP</a> 
    <a href="/login">LOGIN</a> 
    <a href="/">HOME</a>   
    <a href="/logout">LOGOUT</a>  
</header>

<body> 
    {% block content %}
        <!-- template inserted here -->
    {% endblock %}
    <script defer src="{{ url_for('static', filename='js/modal.js') }}"></script>

</body>
</html>