
{% extends "base.html" %}

{% block extra_files %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/main_style.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/search.css') }}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script defer src="{{ url_for('static', filename='js/find_friends.js') }}"></script>
{% endblock %}

{% block content %}
  <h1 class="center">FIND FRIENDS</h1>
  
  <div class="inputBox_container center">
    <svg class="search_icon" id="search_icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48" alt="search icon">
      <path d="M46.599 46.599a4.498 4.498 0 0 1-6.363 0l-7.941-7.941C29.028 40.749 25.167 42 21 42 9.402 42 0 32.598 0 21S9.402 0 21 0s21 9.402 21 21c0 4.167-1.251 8.028-3.342 11.295l7.941 7.941a4.498 4.498 0 0 1 0 6.363zM21 6C12.717 6 6 12.714 6 21s6.717 15 15 15c8.286 0 15-6.714 15-15S29.286 6 21 6z">
      </path>
    </svg>
    <input class="inputBox" id="friends_search" type="text" placeholder="Search For Friends">
  </div>

  <p class="center">{{ status }}</p>

  <h1 class="center">FRIEND'S MEMES</h1>

  <div class="memeContainer">
    {% for meme in friend_memes %}
      <div class="card">
        <div class="card2">

          <img src="{{ url_for('static', filename='meme_imgs/' ~ meme[0]) }}" width="140px" height="140px" alt="Image of Meme">

          <div class="meme-info">
            <label>Name:</label> <span class="meme-name">{{ meme[1] }}</span>
          </div>

          <div class="meme-info">
            <label>Short description:</label> <span class="meme-description">{{ meme[2] }}</span>
          </div>

          <div class="meme-info">
            <label>Year seen:</label> <span class="meme-year">{{ meme[3] }}</span>
          </div>

          <div class="meme-info">
            <label>From where?:</label> <span class="meme-source">{{ meme[4] }}</span>
          </div>

          <div class="meme-info">
            <label>ID:</label> <span class="meme-id">{{ meme[5] }}</span>
          </div>
      
        </div>
      </div>   
    {% endfor %}
  </div>

{% endblock %}
      