
{% extends "base.html" %}

{% block extra_files %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/button_style.css') }}" >
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script defer src="{{ url_for('static', filename='js/edit_meme.js') }}"></script>
<script defer src="{{ url_for('static', filename='js/add_meme.js') }}"></script>
{% endblock %}

{% block content %}
  
  <div class="buttonContainer">
    <button class="addMemeButton" type="button" id="add_meme">
      <span class="buttonText">Add Meme</span>
      <span class="buttonIcon"><svg class="svg" fill="none" height="24" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg"><line x1="12" x2="12" y1="5" y2="19"></line><line x1="5" x2="19" y1="12" y2="12"></line></svg></span>
    </button>
  </div>
  

  <div id="memeModal" class="modal">
    <div class="modalContent">
      <div class="modalHeader">
        <span id="addClose" class="close">&times;</span>
        <h2>Add Meme</h2>
        <p>fill out some information</p>
        <hr>
      </div>
      <div class="modalBody">
        <form id="addMemeForm" class="mainFormBody" method="POST" enctype="multipart/form-data" action="/">
          
          <div class="memeFormInfo">
            <img id="imageDisplay" class="imageDisplay" src="#" hidden>
            <input type="file" id="memeImage" name="memeImage" accept="image/*" required>
            <input type="text" id="memeName" name="memeName" placeholder="Name" required>
            <input type="text" id="memeDescription" name="memeDescription" placeholder="Description" required>
            <input type="number" id="memeYear" name="memeYear" placeholder="When?" required>
            <input type="text" id="memeSource" name="memeSource" placeholder="Where?" required>
            <button type="submit" >Submit</button>
          </div> 
          
        </form>
      </div>
    </div>
  </div>


  <div id="editMemeModal" class="modal">
    <div class="modalContent">
      <div class="modalHeader">
        <span id="editClose" class="close">&times;</span>
        <h2>Edit Meme</h2>
        <p>Change meme's content</p>
        <hr>
      </div>
      <div class="modalBody">
        <form id="editMemeForm" enctype="multipart/form-data">

          <div class="memeFormInfo">
              <img id="editImageDisplay" class="imageDisplay" src="#" hidden>
              <input type="file" id="editImage" name="editImage" accept="image/*" required>
              <input type="text" id="editName" name="editName" placeholder="Name" required>
              <input type="text" id="editDescription" name="editDescription" placeholder="Description" required>
              <input type="number" id="editYear" name="editYear"  placeholder="When?" required>
              <input type="text" id="editSource" name="editSource" placeholder="Where?" required>
              <button type="submit" >Submit</button>
          </div>

        </form>
      </div>
    </div>
  </div>


  <div class="memeContainer">
    {% for meme in memes %}
      <div class="card">
        <div class="card2">

          <img class="memeImg" src="{{ url_for('static', filename='meme_imgs/' ~ meme[0]) }}" width="140px" height="140px" alt="Image of Meme">

          <div class="memeInfo">
            <span class="memeName">{{ meme[1] }}</span>
          </div>

          <div class="memeInfo">
            <span class="memeDescription">{{ meme[2] }}</span>
          </div>

          <div class="memeInfo">
           <span class="memeYear">{{ meme[3] }}</span>
          </div>

          <div class="memeInfo">
           <span class="memeSource">{{ meme[4] }}</span>
          </div>

          <i data-id="{{ meme[5] }}" style="font-size:24px" class="fa trash">&#xf014;</i>
          <i data-id="{{ meme[5] }}" style="font-size:24px" class="fa edit">&#xf040;</i>
        </div>

      </div>   
    {% endfor %}
  </div>


{% endblock %}
      