<!-- WHEN FLASK ISNT IN THE SAME DIRECTORY -->
<!-- https://stackoverflow.com/questions/58675081/why-does-running-flask-run-on-windows-result-in-flask-is-not-recognized-as-an -->

{% extends "base.html" %}

{% block extra_css %}
<script src="add_meme.js"></script>
<link rel="stylesheet" href="{{ url_for('static', filename='css/button_style.css') }}">
{% endblock %}

{% block content %}
  
  <h1>ALL USER'S INFORMATION</h1>
  
  <div class="button_container">
    <button class="button" type="button" id="add_meme">
      <span class="button__text">Add Meme</span>
      <span class="button__icon"><svg class="svg" fill="none" height="24" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg"><line x1="12" x2="12" y1="5" y2="19"></line><line x1="5" x2="19" y1="12" y2="12"></line></svg></span>
    </button>
  </div>

  {% for user in users %}
    <div>
      <li>{{ user[0] }}</li>
      <li>{{ user[1] }}</li>
      <li>{{ user[2] }}</li>
    </div>
    <br>
  {% endfor %}
  </section>

{% endblock %}
      