<!DOCTYPE html>
<html>
  <head>
    <title>Memesite</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="main_style.css" />
    <link rel="stylesheet" href="button_style.css" />

    <script defer src="main.js"></script>
  </head>

  <body>
    
    <header>
      <h1>Meme site</h1>
    </header>
    
    
    <!-- https://uiverse.io/andrew-demchenk0/curvy-octopus-54 -->
    <div class="button_container">
      <button class="button" type="button" id="add_meme">
        <span class="button__text">Add Meme</span>
        <span class="button__icon"><svg class="svg" fill="none" height="24" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg"><line x1="12" x2="12" y1="5" y2="19"></line><line x1="5" x2="19" y1="12" y2="12"></line></svg></span>
      </button>
    </div>
    

      <!-- Modal HTML -->
    <div id="memeModal" class="modal">
      <div class="modal-content">

        <div class="modal-header">
          <span class="close">&times;</span>
          <h2>Add Meme</h2>
          <p>fill out some information</p>
        </div>

        <div class="modal-body">
          <form id="memeForm">
            <img id="imageDisplay" src="#" class="displayMeme">
            <label for="memeImage">Add image: </label>
            <input type="file" id="memeImage" name="memeImage" accept="image/*">
            <br>
            <input type="text" id="memeDescription" name="memeDescription" placeholder="Two sentence description">
            <br>
            <input type="text" id="memeSource" name="memeSource" placeholder="Where did you see it?">
            <br>
            <input type="datetime-local" id="memeTime" name="memeTime">
            
            <br>
            <button type="submit">Submit</button>
          </form>
        </div>

        <div class="modal-footer">
          <label for="favourite_checklist">Add to your favourites?</label>
          <input id="favourite_checklist" type="checkbox">
        </div>

      </div>
    </div>

  </body>
</html>
