{% extends "base.html" %}


{% block extra_files %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/signupandin.css') }}" >
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}" >
{% endblock %}


{% block content %}
    <div class="backgroundforms">
        <div class="centerform">
            <form method="post">
                <div class="input-group">
                    <h2>Sign up</h2>
                    <label class="label">Username</label>
                    <input autocomplete="off" name="username" id="username" class="input" type="text" required> 
                    <label class="label">Password</label>
                    <input autocomplete="off" name="password" id="password" class="input" type="password" required>
                    <label class="label">Email address</label>
                    <input autocomplete="off" name="email" id="email" class="input" type="email" required>    
                </div>
                <button type="submit">Sign up</button>
            </form>
        </div>
    </div>
{% endblock %}