html {
  background: url("backgrounds/default.png") center no-repeat fixed;
  background-size: cover;
}

body {
  background-color: rgb(220, 220, 220, 0.97);
  width: 700px;
  padding: 50px;
  margin: 25px auto;
  border-radius: 10px;
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

select {
  width: 120px;
  padding: 5px;
  border: none;
  font-size: 18px;
  margin-bottom: 15px;
}

label {
  font-size: 18px;
}

input {
  width: 150px;
  padding: 5px;
  border: none;
  font-size: 18px;
}

input:focus {
  width: 150px;
  padding: 5px;
  outline: none;
}

.favourited {
  color: orange;
}

.hide {
  visibility: hidden;
}
.show {
  visibility: visible;
}

button {
  border-radius: 4px;
  padding: 5px;
  border: none;
  color: white;
  font-size: 18px;
  background-color: orange;
}

span {
  width: 15px;
}

/*  NOT MY CODE FROM THIS POINT ON. STILL TRYING TO UNDERSTAND */
* {
  box-sizing: border-box;
}

.column {
  float: left;
  width: 33.33%;
  padding: 10px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}
